.i-comment-cont{
    
    width:800px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 14px;
    
}

.cont{
    margin:3px;
}

.username{
    
    font-weight: bold;
    margin-right: 0px;
    margin-right:5px;
}


.text{
    width:400px;
    
}
.timestamp{
    color:lightgray;
}

