.i-comment-cont{
    
    width:800px;
    display:flex;
    flex-direction: row;

}



.username{
    width:20px;
    font-weight: bold;
    margin-right: 3px;
}


.text{
    width:400px;
    border:1px solid black;
}
.timestamp{
    color:lightgray;
}