
.post-global-container:first-child{
    margin-top: 80px;


}
.post-global-container{
    margin-top: 5px;

}

.post-cont{
    
    margin:0px auto;
    border-radius: 5px;
    width:600px;
    border:1px solid lightgray;
    border-radius:3px;
    font-family: 'Open Sans', sans-serif;
}

.banner-list{
    display:flex;
    align-items: center;
    margin:10px;
   

}

/* .banner{
    margin:10px;
    font-weight: bold;
    font-size: 15px;
} */

/* img.thumz {
    height:50px;
    width:50px;
    border-radius: 50%;
} */


.primary-img{
    width:100%;
}